dialog {
    border: none;
    height: 70%;
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 0;
    margin: 6rem auto;
    box-sizing: border-box;
    -webkit-box-shadow: 9px 7px 21px -7px rgba(0,0,0,0.76);
    -moz-box-shadow: 9px 7px 21px -7px rgba(0,0,0,0.76);
    box-shadow: 9px 7px 21px -7px rgba(0,0,0,0.76);
}

.submit-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #37a1f7;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #2490e0;
    }
}

form input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 0.5rem;
}

textarea{
    width: 300px;
    height: 100px;
    resize: none;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

.form-header{
    padding: 2rem;
}

.form-footer{
    padding: 0rem 2rem;
}
